body
{
  background-color:gold;
}

h1
{
  
  color:midnightblue;
  background-color:green;
}

#show_sketch
{
  float:right;
}

canvas
 {
   border:5px solid purple;
   border-radius:22px;
   animation-name: example;
   animation-duration: 5s;
   margin-top: 53px;
   animation-iteration-count: infinite;
   
}
@keyframes example {
  
  from {box-shadow: 1px 1px 38px blue;}
  to {box-shadow: 1px 1px 38px pink;}
  
}


p
  {
    padding-top:10px;
    font-size:25px;
    color:midnightblue;
  }
